@use 'variables' as v;

.plagiarism-checker {
  	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: v.$plagiarism-checker-form-text-color;
	border: 1px solid v.$plagiarism-checker-form-border-color;
	border-radius: 8px 0 0 0;
	transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out, right 0.3s ease-in-out;

  &__toggle {
    cursor: pointer;
    margin-bottom: 10px;
  }

  &__input {
    padding: 10px;
    border: 1px solid v.$plagiarism-checker-input-border-color;
    border-radius: 4px;
    font-size: 16px;
  }

  &__textarea {
	border: 1px solid v.$plagiarism-checker-input-border-color;
    border-radius: 4px;
  }

  &__button {
	cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
	// background-color: v.$plagiarism-checker-color-primary-hover;

	&:hover {
		background-color: var(--wp--preset--color--primary-hover, #005a99); // Fallback for hover state
	}
  }

  .error {
    color: red;
    font-size: 14px;
    margin-top: 20px;
  }
}
