/**
 * Structural Styles (Object-Oriented)
 *
 * It's easier to separate the visual CSS from
 * the structural CSS
 *
 * This way we have a clear picture of where to make changes
 * for the sidebar functionality versus the visual display
 */
.plagiarism-checker {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 300px;
    z-index: 9999;
  
    &__form {
      display: flex;
      flex-direction: column;
    }
  
    &__input,
    &__submit-button,
    &__textarea {
      margin-bottom: 10px;
    }
  
    &__textarea {
      resize: none;
      min-height: 150px;
      width: 100%;
    }
  }
  