@use 'variables' as v;

.plagiarism-checker {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: v.$form-width;
  z-index: 9999;
  padding: 20px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input,
  &__submit-button,
  &__textarea {
    margin-bottom: 10px;
    width: 100%;
  }

  &__toggle {
    display: block; // Ensure the toggle remains visible when the form is closed
  }

  &__textarea {
    resize: none;
    min-height: 150px;
  }
}
