@use 'variables' as v;

.plagiarism-checker {
	// Ensure the form can be opened and closed
	&--closed {
		max-height: 30px;
		overflow: hidden;
		right: calc( 150px - v.$plagiarism-checker-form-width);
		box-shadow: none;
		background-color: rgba(v.$plagiarism-checker-form-background-color, 0.5);
	}

	&--open {
		max-height: v.$plagiarism-checker-form-height; // Adjust this value based on the form content size
		right: 0;
		background-color: v.$plagiarism-checker-form-background-color;
	}
}