@use '../../variables' as v;

.plagiarism-checker {
	&__results-container,
	&__results {
		list-style-type: none;
	}

	&__results-container {
		padding: 0;
		margin: 20px 0 0;
		overflow: hidden;
		height: 100%;
	}

	&__results {
		padding-left: 15px;
		margin: 0;
	}

	&__results-placeholder,
	&__results-none {
		font-style: italic;
		color: v.$plagiarism-checker-color-secondary;
		font-weight: v.$plagiarism-checker-font-weight-light;
	}

	&__results-none {
		font-weight: v.$plagiarism-checker-font-weight-medium;
		font-size: v.$plagiarism-checker-font-size-very-large;
		color: v.$plagiarism-checker-color-primary;
	}
}
