@use '../../variables' as v;

// Calculation to determine container height
.plagiarism-checker {
	&__results,
	&__results-placeholder {
		max-height: v.$plagiarism-checker-form-results-container-height;
		height: 100%;
	}

	&__results {
		overflow: scroll;
		overflow-x: hidden;
	}

	&__results-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: 100%; // Limit by max-height
	}
}